<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:context="http://www.springframework.org/schema/context"
	xmlns:tx="http://www.springframework.org/schema/tx"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-2.5.xsd
				http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-2.5.xsd
				http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-2.5.xsd">

	<context:component-scan base-package="com.test" />		<!-- 开启自动扫描和注解（base-package包下和子包下） -->
	<context:property-placeholder location="classpath:jdbc.properties" />	<!-- 外部导入porperties文件 -->

	<bean id="sessionFactory"
		class="org.springframework.orm.hibernate3.LocalSessionFactoryBean">
		<property name="configLocation" value="classpath:hibernate.cfg.xml" /> <!-- 指定hibernate.cfg.xml文件的位置 -->
		<!-- 因为全局只需要sessionFactory链接数据库 所以设置成内部的dataSource -->
		<property name="dataSource">
			<bean class="com.mchange.v2.c3p0.ComboPooledDataSource">
				<!-- 数据库连接信息 -->
				<property name="jdbcUrl" value="${jdbcUrl}" />
				<property name="driverClass" value="${driverClass}" />
				<property name="user" value="${user}" />
				<property name="password" value="${password}" />
				<!-- 一些其他连接池配置 -->
				<property name="initialPoolSize" value="3" /> <!--初始化时获取三个连接，取值应在minPoolSize与maxPoolSize之间。3 -->
				<property name="minPoolSize" value="3" /> <!--连接池中保留的最小连接数。3 -->
				<property name="maxPoolSize" value="5" /> <!--连接池中保留的最大连接数。15 -->
				<property name="acquireIncrement" value="3" /> <!--当连接池中的连接耗尽的时候c3p0一次同时获取的连接数。3 -->
				<property name="maxStatements" value="8" /> <!-- 控制加载的PrepaStatems数量如果maxState与maxStatePerConnect为0，则缓存被关闭。 0 -->
				<property name="maxStatementsPerConnection" value="5" /> <!--maxStatementsPerConnection定义了连接池内单个连接所拥有的最大缓存statements数。 0 -->
				<property name="maxIdleTime" value="1800" /> <!--最大空闲时间,1800秒内未使用则连接被丢弃。若为0则永不丢弃。Default: 0 -->
			</bean>
		</property>
	</bean>

	<!-- 配置声明式事务管理（采用注解的方式） -->
	<bean id="txManager"
		class="org.springframework.orm.hibernate3.HibernateTransactionManager">
		<property name="sessionFactory" ref="sessionFactory"></property>
	</bean>
	<tx:annotation-driven transaction-manager="txManager" />
</beans>
